h1 {
    color : orange;
}
p {
    color : rgb(249, 93, 221);
    font-family: Winkle;
}
h2 {
    color : slateblue;
}

.container { 
    /* select a class needs a (.) */
    border-width: 5 px;
    border-style: solid;
    border-color: crimson;

    margin : 40px;
    padding : 20px;
}

#list {
    /* select an ID needs a (#) */
    font-size: 40px;
}

body {
    background-color : rgb(67, 200, 185);
}